* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#start {
  width: 350px;
  height: 200px;
  border: 2px solid black;
  border-radius: 18px;
  margin: 220px 0px 0px 600px;
  background-color: rgba(128, 128, 128, 0.212);
}

#start h1 {
  margin: 10px 0px 0px 60px;
}

#start-btn {
  width: 100px;
  height: 40px;
  font-size: larger;
  font-weight: 700;
  margin: 60px 0px 0px 120px;
}

#resume {
  width: 600px;
  margin: 10px 0px 0px 400px;
  background-color: #f4f4f9;
  border-radius: 8px;
}

input {
  border: 1px solid #ddd;
  height: 40px;
  width: 500px;
  padding: 10px;
  margin: 10px 0px 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

textarea {
  border: 1px solid #ddd;
  height: 40px;
  width: 500px;
  padding: 10px;
  margin: 10px 0px 10px 20px;
  border-radius: 4px;
}

button {
  margin: 15px 0px 10px 20px;
  padding: 10px 15px;
  border: none;
  background-color: #2d3e50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

h3 {
  margin: 10px 0px 10px 20px;
  text-shadow: 1px 1px black;
}

#resume-section {
  max-width: 600px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#resume-content {
  line-height: 2.6;
  color: #333;
}
